server {
    listen      ${NGINX_PORT};
    server_name ${NGINX_HOST};
    charset     utf-8;
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    location / {
        include uwsgi_params;
        uwsgi_pass ${UWSGI_PASS};
    }
}